@using Model
@model User
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <link href="~/Content/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/notocol-home.css" rel="stylesheet" type="text/css" />
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>
}

<h2>@Model.Name <small>@Model.Username</small></h2>
<h6>@Model.Email</h6>
<p>Last seen: @Model.ModifiedAt</p>
<div class="user-content">
    <div class="row top-buffer" style="min-height: 100vh">
        <div class="col-sm-12 min-content-height ">
            <div id="pages" class="container table-container"></div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/boostrap3-typeahead.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap-tagsinput.js" type="text/javascript"></script>

    <script>
    function GetUserPages() {
        var userID = @Model.ID;
        $.ajax({

            url: '/Source/SourceItems?u='+userID,
            type: 'Get',
            dataType:"html"
        })
        .success(function (data) {
            $("#pages").html(data);
        })
        .error(function(xhr, status){
            console.log("something seems wrong with status " + status + " " + xhr);
            setTimeout(GetPages, 5000);
        });
    }
        GetUserPages();

    </script>
