@using Model.Extended
@model IList<SourceData>

@{
    int count = 0;
    var onclickAction = "";
    foreach (var source in Model)
    {


        if (count % 4 == 0)
        { 
            @:<div class="row table-row">
        }
        count++;

        <div class="col-sm-3 table-col">
            <div class="pageOptions" style="position: absolute;bottom:4px;right: 80px;" >
                @{onclickAction = "DeleteSource(" + source.ID + ")";}
                <a href="#" id="DeleteSourceButton" onclick=@onclickAction data-toggle="tooltip" data-placement="top" title="Delete this page"><span class="glyphicon glyphicon-trash"></span></a>
            </div>

                <div style="padding-bottom:15px">
                    @if (!(source.Url.StartsWith("localfile")))
                    {
                        <a href="@source.Url" target="_blank" class="page-title text-info">@source.Title</a>

                    }
                    else
                    {
                        <p class="page-title text-info">@source.Title</p>
                    }

                    <p>@source.Summary</p>
                    <div id="pageTags">
                        <ul class="list-inline">
                            @{if (!(@String.IsNullOrEmpty(source.TagNames) || @String.IsNullOrEmpty(source.TagIDs)))
                              {
                                  string[] tagNames = source.TagNames.Split(',');
                                  string[] tagIDs = source.TagIDs.Split(',');
                                  int i = 0;
                                  if (tagNames.Length == tagIDs.Length)
                                  {
                                      for (i = 0; i < tagNames.Length; i++)
                                      {
                                          var tagName = "\"" + tagNames[i] + "\"";
                                        <li><a href="#" onclick="AddTagToTagInput(@tagName)"><span class="label label-default"> @tagNames[i]</span></a> </li>
    
                                      }
                                  }
                              }
                            }
                       </ul>
                    </div>
                </div>

                <div class="viewNotesButton">
                    <button class="btn btn-default btn-xs " href="@Url.Action("NoteList", "Notes", new { sourceID = @source.ID })" data-toggle="modal" data-target='#notesModal'>View Notes</button>
                    
                </div>
            
        </div>

        if (((count) % 4 == 0) || count == Model.Count)
        {
            @:</div>

        }


     }
}

<div class="modal" id="notesModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="mymodallabel">Notes</h4>
            </div>
            <div class="modal-body"></div>
        </div>

        <div class="modal-footer">

        </div>

    </div>
</div>
<script>
    $('body').on('hidden.bs.modal', '.modal', function () {
        $(this).removeData('bs.modal').find(".modal-content").empty();;
    });



    function DeleteSource(sourceID) {
        var url = '@Url.Action("DeleteSource", "Source")?sourceID=' + sourceID;
        var r = confirm("Deleting a page will delete all the notes with it too. Press OK to continue");
        if (r == true) {
            console.log("Calling " + url);
            $.ajax({
                url: url
            }).success(function () {
                GetPages();
            }).fail(function () {
                alert("Failed to delete!Contact the server for any help");
            })
        } 
    };

</script>









                





