@using System.Configuration

<link rel="stylesheet" href="http://assets.annotateit.org/annotator/v1.2.5/annotator.min.css">
<style>
    .pageBox{
        border: 1px solid gray ;
        border-radius:10px;
        min-height:150px;
        position:relative;
        margin-bottom:10px;
        
     }
</style>

    <div class="row">
        
        <div class="col-sm-12">
            <div class="jumbotron">
                <h1>@ConfigurationManager.AppSettings["proj"]</h1>
                <p class="lead"></p>
                <p><a href="@Url.Action("AboutUs")" class="btn btn-primary btn-lg">Download the tool &raquo;</a></p>
            </div>
        </div>
        
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Annotate</h2>
        <p>Highlight, comment or add notes. Annotate for your own reference later</p>
        @*<p><a class="btn btn-default" href="@Url.Action("AboutUs")">Learn more &raquo;</a></p>*@
    </div>

    <div class="col-md-4">
        <h2>Organize</h2>
        <p>Compile and organize the content you find useful by tagging pages as you like</p>
        @*<p><a class="btn btn-default" href="@Url.Action("AboutUs")">Learn more &raquo;</a></p>*@
    </div>
 
    <div class="col-md-4">
        <h2>Share and Discover</h2>
        <p>Easily share your content compilations and also discover relevant content that others loved</p>
        @*<p><a class="btn btn-default" href="@Url.Action("AboutUs")">Learn more &raquo;</a></p>*@
    </div>
</div>


