
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
    
<div class="row" >
    <div class="col-sm-3"></div>
    <div class="col-sm-6" style="padding: 36px;border-style: groove;border-width: thin;border-color: currentColor;border-radius: 10px;">
        <div>

            <form role="form" id="signInForm" class="form-inline" method="post" action="@Url.Action("SignInUser", "User")">
                <div class="form-group">
                    <label for="username"></label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
                </div>

                <div class="form-group">
                    <label for="password"></label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log In</button>
                </div>
                @if (ViewBag.SignInError != null)
                {
                    <div class="text-danger pull-right">Sign in failed, try again</div>
                }
            </form>
        </div>
        <br>
        <div>
            <h5 class="text-primary">Create a new account</h5>
            <form role="form" id="signUpForm" method="post" action="@Url.Action("SignUpUser", "User")">
                <div class="form-group">
                    <label for="username"></label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" style="border:none">
                </div>
                <div class="form-group">
                    <label for="email"></label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" style="border:none">
                </div>
                <div class="form-group">
                    <label for="password"></label>
                    <input type="password" class="form-control input-sm" name="password" id="password" placeholder="Password" style="border:none">
                </div>

                <button type="submit" class="btn btn-default bottom-right">Sign Up</button>
            </form>

            @if (ViewBag.SignUpError != null)
            { 
                <div class="text-danger pull-right">Sign up failed, try again</div>
            }
        </div>

    </div>
    <div class="col-sm-3"></div>
</div>
@section scripts{
    <script>
        (function() {
            document.getElementById("signUpForm").reset();
        })();
    </script>
    
}
    @*@using (Html.BeginForm("SignInUser", "User", FormMethod.Post,
                                      new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            Username: @Html.TextBox("username")
            Password: @Html.Password("password")
            <button type="submit" value="Sign In">Sign In</button>
        </fieldset>
    }

    @using (Html.BeginForm("SignUpUser", "User", FormMethod.Post,
                                      new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            Username: @Html.TextBox("username")
            Password: @Html.Password("password")
            <button type="submit" value="Sign Up">Sign Up</button>        </fieldset>
    }*@

