@using System.Configuration
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
    (function () {
        if (typeof window.janrain !== 'object') window.janrain = {};
        if (typeof window.janrain.settings !== 'object') window.janrain.settings = {};

        janrain.settings.tokenUrl = '__REPLACE_WITH_YOUR_TOKEN_URL__';

        function isReady() { janrain.ready = true; };
        if (document.addEventListener) {
            document.addEventListener("DOMContentLoaded", isReady, false);
        } else {
            window.attachEvent('onload', isReady);
        }

        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.id = 'janrainAuthWidget';

        if (document.location.protocol === 'https:') {
            e.src = 'https://rpxnow.com/js/lib/chimpu/engage.js';
        } else {
            e.src = 'http://widget-cdn.rpxnow.com/js/lib/chimpu/engage.js';
        }

        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(e, s);
    })();
    </script>
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(ConfigurationManager.AppSettings["proj"], "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Home", "Home", new {area = ""}, null)</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @{var user = Session["userName"];
                        var id = this.Session.SessionID;
                    }
                    @if (user == null)
                    {
                        <li>@Html.ActionLink("Register", "Login", "Home", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "glyphicon glyphicon-user" })</li>
                        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "glyphicon glyphicon-log-in" })</li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="glyphicon glyphicon-user"></span>
                                @user
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Manage tags</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Settings</a></li>
                                <li>@Html.ActionLink("Log out", "Logout", "Account")</li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top:3%;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @ConfigurationManager.AppSettings["proj"]</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://cdn.auth0.com/js/lock-6.2.min.js"></script>
<script type="text/javascript">
    var lock = new Auth0Lock('vs4n82A6wLrmViah2QW2IWM8pSV8mCbe', 'idevexplorer.auth0.com');

    function signin() {
        lock.show({
            callbackURL: 'http://localhost:5555/api/auth/auth0/',
            responseType: 'code',
            authParams: {
                scope: 'openid profile'
            }
        });
    }
</script>
<script>
    $(function() {
        $.getJSON('/api/hello', function(data) {
            $("#content").is(":hidden");
            $('#userInfo').text(JSON.stringify(data.userInfo, 1, 2));
        });
    });
</script>

</body>
</html>
