@using System.Configuration
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="google-site-verification" content="8-RH5uUPeU-vzXA8YyIrDbcs-GEOrVL9f1HquvTkdUo" />
    <title>@ViewBag.Title</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")  
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    @RenderSection("beforeAngular", required: false)

    <script src="~/Scripts/angular.min.js" ></script>
    <script src="~/Scripts/angular-sanitize.min.js"></script>
    <script src="~/Scripts/angular-truncate.js"></script>
    <script src="~/Scripts/angular-relative-date.min.js"></script>
    <script src="~/Scripts/notocol/notocolApp.js"></script>
    @RenderSection("afterAngular", required: false)

    <script src="~/Scripts/notocol/NotificationController.js"></script>
    
    
    @RenderSection("header", required: false);
    <link href="~/Content/notocol-home.css" rel="stylesheet" type="text/css" />
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>
    @RenderSection("css", required: false)   
    
    
    
    <script>
    app.run(function($rootScope) {
        var userID = @(Convert.ToInt64(Session["userID"]));
        @{
           var username = ((string)Session["userName"]) != null ? ((string)Session["userName"]) : null;
           
        }

        var userName = "@username";
        $rootScope.userInfo = {
                'id': userID,
                'name' : userName
        }
        
    
    });

        

</script>

    <!-- start Mixpanel -->
    <script type="text/javascript">
    (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);

    mixpanel.init("@System.Configuration.ConfigurationManager.AppSettings["MixpanelToken"]");</script><!-- end Mixpanel -->
</head>

<body ng-app="notocolApp">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(ConfigurationManager.AppSettings["proj"], "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Home", "Home", new { area = "" }, null)</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @{var user = Session["userName"];
                    var id = this.Session.SessionID;
                    }
                    @if (user == null)
                    {
                        <li>@Html.ActionLink("Login", "Login", "User", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "glyphicon glyphicon-user" })</li>
                    }
                    else
                    {
                        <li class="dropdown" id="notification-list" ng-controller="NotificationController">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Notification
                                <span ng-if="numberOfUnreadNotifications > 0" class="label label-pill label-danger">{{numberOfUnreadNotifications}}</span>
                            </a>
                            <ul class="dropdown-menu scrollable-menu" style="max-height:400px">
                                
                                <li ng-if="notifications.length <= 0">No notifications for you</li>
                                
                                <li ng-if="notifications.length > 0">
                                    <a class="pull-right" style="color:black" href="#" ng-click="MarkAllRead(); ; $event.stopPropagation();">
                                        Mark All as Read
                                    </a>
                                </li>
                                <div ng-if="notifications.length > 0" style="margin-bottom: 30px;"></div>
                                
                                <li ng-repeat="n in notifications">
                                    <div class="user-notification" ng-class="{'user-notification-read': n.readStatus, 'user-notification-unread': !n.readStatus}" ng-click="NotificationClickHandler($index);">
                                        <div ng-bind-html="n.text"></div>
                                        <p class="user-notification-date">{{n.date|relativeDate }}</p>
                                    </div>
                                    
                                </li>

                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="glyphicon glyphicon-user"></span>
                                @user
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Settings</a></li>
                                <li>@Html.ActionLink("Log out", "Logout", "Account")</li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content container-fluid" style="margin-top:3%;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @ConfigurationManager.AppSettings["proj"]</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
    <script>
        sendTrackEvent = function(name, values){
            mixpanel.track(name, values);
        };
        
        

    </script>
    
</body>

</html>
